<!--Mintád alapján a tanár saját órái, ezt normálisan megcsinálja-->
<mat-list>
  <div *ngFor="let subject of subjects; last as last">
    <h2 matSubheader>{{subject.name}}</h2>
    <ng-container *ngFor="let lesson of subject.lessons">
      <mat-list-item *ngIf="isMyLesson(lesson)"
        (click)="clickHandler($event)"
      >
        <h3 matLine>Nap: {{lesson.weekday}}</h3>
        <h3 matLine>Időpont: {{lesson.time}}</h3>
      </mat-list-item>
    </ng-container>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>
</mat-list>

<!--Ez lenne a kijjelölt lesson userei de nemigazán működik a clickHandler-->
<mat-list *ngIf="selectedLesson != null">
  <div >Hallgatók: </div>
  <div >{{ selectedLesson }} </div>
  <div *ngFor="let hallgato of lessonSubject; last as last">
      <mat-list-item>
        <h3 matLine>Nap: {{hallgato.username}}</h3>
      </mat-list-item>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>
</mat-list>