<mat-toolbar color="primary">
  Absence Tracker
  <div *ngIf="authService.user">
    <button mat-button routerLink="/lessons">
      <mat-icon>book</mat-icon> Tanórák
    </button>
    <button mat-button routerLink="/absences">
      <mat-icon>today</mat-icon> Hiányzások
    </button>
    <!--Az authorized user role-ja alapján el kéne tűntetni, próbáékoztam,
      de nemigazán jött össze mert nem ismeri a Role-t.
      Nem tudtam, hogy hogyan kéne rá hivatkozni/hova kéne létrehozni
    -->
    <button mat-button routerLink="/mylessons">
      <mat-icon>book</mat-icon> Saját Órák
    </button>
    <!--Az authorized user role-ja alapján el kéne tűntetni, próbáékoztam,
      de nemigazán jött össze mert nem ismeri a Role-t.
      Nem tudtam, hogy hogyan kéne rá hivatkozni/hova kéne létrehozni
    -->
    <button mat-button routerLink="/absence_overview">
      <mat-icon>today</mat-icon> Hiányzások kezelése
    </button>
    <button mat-button (click)="logout()">
      <mat-icon>lock</mat-icon> Kijelentkezés ({{authService.user.username}})
    </button>
  </div>
  <div *ngIf="!authService.user">
    <button mat-button routerLink="/login">
      <mat-icon>lock</mat-icon> Bejelentkezés
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
