<mat-toolbar color="primary">
  Absence Tracker
  <ng-container *ngIf="authService.user">
    <ng-container *ngIf="authService.user.role === 'STUDENT'">
      <button mat-button routerLink="/lessons">
        <mat-icon>book</mat-icon> Tanórák
      </button>
      <button mat-button routerLink="/absences">
        <mat-icon>today</mat-icon> Hiányzások
      </button>
    </ng-container>
    <button *ngIf="authService.user.role === 'TEACHER'" mat-button routerLink="/mylessons">
      <mat-icon>book</mat-icon> Saját Órák
    </button>
    <button mat-button (click)="logout()">
      <mat-icon>lock</mat-icon> Kijelentkezés ({{authService.user.username}})
    </button>
  </ng-container>
  <ng-container *ngIf="!authService.user">
    <button mat-button routerLink="/login">
      <mat-icon>lock</mat-icon> Bejelentkezés
    </button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
