<h1>Tanórák</h1>

<mat-button-toggle-group [value]="lessonFilter" (change)="onFilterChange($event)">
  <mat-button-toggle value="all">Összes</mat-button-toggle>
  <mat-button-toggle value="registered">Nem felvett</mat-button-toggle>
  <mat-button-toggle value="notRegistered">Felvett</mat-button-toggle>
</mat-button-toggle-group>

<mat-list>
  <div *ngFor="let subject of filteredSubjects; last as last">
    <h2 matSubheader>{{subject.name}}</h2>
    <ng-container *ngFor="let lesson of subject.lessons">
      <mat-list-item *ngIf="!isLessonHidden(lesson)">
        <h3 matLine>Nap: {{lesson.weekday}}</h3>
        <h3 matLine>Időpont: {{lesson.time}}</h3>
        <button *ngIf="!isLessonActive(lesson)" mat-button (click)="takeLesson(lesson)">
          <mat-icon>book</mat-icon> Felvesz
        </button>
        <button *ngIf="isLessonActive(lesson)" mat-button (click)="removeLesson(lesson)">
          <mat-icon>book</mat-icon> Lead
        </button>
      </mat-list-item>
    </ng-container>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>
</mat-list>